* {
    margin: 0;
    padding: 0;
}


header {
    width: 100vw;
    height: 92px;
    background-color: #6950A1;
}

header>img {
    position: absolute;
    width: 128px;
    height: 38px;
    left: 27px;
    top: 27px;
}
body{
    overflow-x: hidden;
}
main>h1 {
    height: 48px;
    margin-left: 46px;
    margin-top: 60px;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}
.dv{
    display:flex;
    flex-direction: initial;
    gap: 0.4rem;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box {
    min-height: 50px;
    margin-inline: 45px;
    margin-top: 22px;
    padding-inline: 16px;
    padding-block: 1%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;

    position: relative;
    line-height: 24px;
    align-items: center;
    background: #D9D9D9;
    border-radius: 5px;
}

button {
    width: 66px;
    height: 31px;
    left: 877px;
    top: 376px;
    background: #6950A1;
    border-radius: 25px;
    border: none;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}

.display{
    display: none;
    max-width: 75%;
}
