* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.titulo {
    font-size: 24px;
    margin-bottom: 20px;
}

.secao {
    display: flex;
    align-content: space-between;
    gap: 20px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

.p3 {
    font-size: 14px;
    font-weight: 400;
}


body.Dark-mode {
    background-color: black;
    color: #fff
}